body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
* {
    box-sizing: border-box;
}
main{
    flex-grow: 1;
}
#sketch-container{
    display:grid;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}
/* .sketch-grid{
    border: 1px solid black;
} */