* {
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display:flex;
    flex-direction: row;
    font-family: 'Cabin Sketch', cursive;
}
#toolbox-section{
    flex-grow: 3;
}
header h1{
    font-size: 60px;
    text-align: center;
    padding: 25px 0;
}

#toolbox-section{
    display:flex;
    flex-direction: column;
}
#toolbox-section main{
    flex-grow: 1;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#toolbox-section main div{
    margin: 15px 0;
}
#mode-container{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
}
button{
    background: transparent;
    font-family: 'Cabin Sketch', cursive;
    font-size: 25px;
}
#color-picker-label{
    font-size: 25px;
}


footer{
    text-align: center;
    font-size: 17px;
}
footer a{
    text-decoration: none;
    color: black;
}
footer a:hover{
    text-decoration: underline;
}

#sketch-section{
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sketch-container{
    display:grid;
    width: 500px;
    height: 500px;
    border: 4px solid black;
}

#pop-up-background{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:center;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.5);
    margin: 0px;
}
#pop-up-container{
    background-color: white;
    text-align: center;
    padding: 20px 10px;
    border: 4px solid black;
    border-radius: 20px;
}
#pop-up-container *{
    margin: 5px 0;
}
#pop-up-question {
    font-size: 20px;
}
#pop-up-input{
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}
#pop-up-alert{
    color: red;
}